@{
    ViewData["Title"] = "Form";
} 
@model Bowler

<form method="POST" asp-controller="Home" asp-action="Add">
    <div class="form-group mb-1">
        <input type="hidden" asp-for="@Model.BowlerID" />

        <label asp-for="@Model.BowlerFirstName">First Name:</label>
        <input class="form-control" asp-for="@Model.BowlerFirstName" />

        <label asp-for="@Model.BowlerMiddleInit">Middle Initial:</label>
        <input class="form-control" asp-for="@Model.BowlerMiddleInit" />

        <label asp-for="@Model.BowlerLastName">Last Name:</label>
        <input class="form-control" asp-for="@Model.BowlerLastName" />
    </div>
    <div class="form-group mb-1">
        <label asp-for="@Model.BowlerAddress">Address:</label>
        <input class="form-control" asp-for="@Model.BowlerAddress" />

        <label asp-for="@Model.BowlerCity">City:</label>
        <input class="form-control" asp-for="@Model.BowlerCity" />

        <label asp-for="@Model.BowlerState">State:</label>
        <input class="form-control" asp-for="@Model.BowlerState" />

        <label asp-for="@Model.BowlerZip">Zipcode:</label>
        <input class="form-control" asp-for="@Model.BowlerZip" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.BowlerPhoneNumber">Phone Number:</label>
        <input class="form-control" asp-for="@Model.BowlerPhoneNumber" />

        <label asp-for="@Model.TeamID">Team</label>
        <select class="custom-select" asp-for="@Model.TeamID">
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>